@import '/node_modules/bulma/bulma.sass';
body{
    font-family: 'Roboto', sans-serif;
}
.home
{
    width: 100%;
    height: 100%;
    background-image: url('/Images/HomeBackground.jpg');
    background-size: cover;
    background-position: center;
}
.navbarCustom{
    background-color: transparent;

}
.navbar-item-hover-color{
    background-color: transparent;
}
